<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Recipe home</title>
</head>
<body>
<h1>My recipes</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Directions</th>
        <th>Cook time</th>
        <th>Preparation time</th>
        <th>Servings</th>
    </tr>
    <tr th:each="recipe: ${recipes}">
        <td th:text="${recipe.id}"></td>
        <td th:text="${recipe.name}"></td>
        <td th:text="${recipe.description}"></td>
        <td th:text="${recipe.directions}"></td>
        <td th:text="${recipe.cookTime}"></td>
        <td th:text="${recipe.prepTime}"></td>
        <td th:text="${recipe.servings}"></td>
    </tr>
</table>

</body>
</html>
